.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #0000007c;
    color: white;
    padding: 0.5rem;
    bottom: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .footer a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #ffdab9; /* رنگ آیکون هنگام هاور */
  }
  